# <center>NLA Homework 3</center>

### <center>Group O</center>

### <center>Dafu Zhu, Jiawei Ni</center>

## Question 1
The LU decomposition with row pivoting of the matrix

$$
A=\left(\begin{array}{cccc}
2 & -1 & 0 & 1 \\
-2 & 0 & 1 & -1 \\
4 & -1 & 0 & 1 \\
4 & -3 & 0 & 2
\end{array}\right)
$$


is given by $P A=L U$, where

$$
P=\left(\begin{array}{cccc}
0 & 0 & 1 & 0 \\
0 & 0 & 0 & 1 \\
0 & 1 & 0 & 0 \\
1 & 0 & 0 & 0
\end{array}\right) ; \quad L=\left(\begin{array}{cccc}
1 & 0 & 0 & 0 \\
1 & 1 & 0 & 0 \\
-0.5 & 0.25 & 1 & 0 \\
0.5 & 0.25 & 0 & 1
\end{array}\right) ; \quad U=\left(\begin{array}{cccc}
4 & -1 & 0 & 1 \\
0 & -2 & 0 & 1 \\
0 & 0 & 1 & -0.75 \\
0 & 0 & 0 & 0.25
\end{array}\right)
$$

(i) Solve $A x=b$, where

$$
b=\left(\begin{array}{c}
3 \\
-1 \\
0 \\
2
\end{array}\right)
$$

*Solution*

In [1]:
import numpy as np
import pandas as pd
import copy
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))
from nla import func # my own package based on previous homeworks
np.set_printoptions(suppress=True, precision=6)

def lu_row_pivoting(A): #@save
    """
    LU decomposition with row pivoting
    input: A(np.array)
    output: P, L, U
    """
    AA = copy.deepcopy(A).astype(float)  # precision issue
                                         # debugged for a long time 
    n = AA.shape[0]
    # initialize
    P, L = np.eye(n), np.eye(n)
    U = np.eye(n)
    for i in range(0, n-1):
        i_max = np.argmax(np.abs(AA[i:n, i])) + i
        # switch rows i and i_max of A
        vv = copy.deepcopy(AA[i, i:n])
        AA[i, i:n] = AA[i_max, i:n]
        AA[i_max, i:n] = vv
        # update matrix P
        cc = copy.deepcopy(P[i])
        P[i] = P[i_max]
        P[i_max] = cc
        if i > 0:
            ww = copy.deepcopy(L[i, 0:i])
            L[i, 0:i] = L[i_max, 0:i]
            L[i_max, 0:i] = ww
        for j in range(i, n):
            L[j, i] = AA[j, i] / AA[i, i]
            U[i, j] = AA[i, j]
        for j in range(i+1, n):
            for k in range(i+1, n):
                AA[j, k] = AA[j, k] - (L[j, i] * U[i, k])
    L[n-1, n-1] = 1
    U[n-1, n-1] = AA[n-1, n-1]
    return P, L, U

In [3]:
def linear_solve_lu_row_pivoting(A, b): #@save
    """
    Linear solver using LU decomposition with row pivoting
    input: A(np.array), b(np.array)
    output: x
    """
    P, L, U = lu_row_pivoting(A)
    y = func.forward_subset(L, P@b)
    x = func.backward_subset(U, y)
    return x

In [5]:
A = np.array([
    [2,-1,0,1],
    [-2,0,1,-1],
    [4,-1,0,1],
    [4,-3,0,2]
])
b = np.array([3,-1,0,2])
x = linear_solve_lu_row_pivoting(A, b)
x

[-1.5, 4.0, 6.0, 10.0]

$$
\therefore \quad x = \begin{pmatrix}
-1.5\\
4\\
6\\
10
\end{pmatrix}
$$

(ii) Find $A^{-1}$, the inverse matrix of $A$.

*Solution*

In [7]:
def system_solve_lu_row_pivoting(A, B): #@save
    """
    input: 
    - A(np.array): nonsingular square matrix
    - B(np.array): col vectors of size n, [b_1, b_2, ..., b_p]
    output:
    - X: solution to Ax_i=b_i, [x_1, ..., x_p]
    """
    P, L, U = lu_row_pivoting(A)
    p = B.shape[1]
    X = np.zeros((B.shape[0], B.shape[1]))
    for i in range(p):
        b_i = B[:, i]
        y = func.forward_subset(L, P@b_i)
        x_i = func.backward_subset(U, y)
        X[:, i] = x_i
    return X

Solving $A^{-1}$ is equivalent to finding $X$, where $AX=B$, $B=I$. Write $I,X$ as $I=\text{col}(e_k)_{k=1:p}$, $X=\text{col}(x_k)_{k=1:p}$

In [9]:
B = np.eye(A.shape[0])
X = system_solve_lu_row_pivoting(A, B)
X

array([[-0.5,  0. ,  0.5,  0. ],
       [ 2. , -0. , -0. , -1. ],
       [ 3. ,  1. ,  0. , -1. ],
       [ 4. ,  0. , -1. , -1. ]])

$$
\therefore \quad A^{-1}=\begin{pmatrix}
-0.5 & 0 & 0.5 & 0\\
2 & 0 & 0 & -1\\
3 & 1 & 0 & -1\\
4 & 0 & -1 & -1
\end{pmatrix}
$$

## Question 2
The following discount factors are obtained by fitting market data:

$$
\begin{array}{cc}
\text{Date} & \text{Discount Factor} \\
2 \text{ months} & 0.9980 \\
5 \text{ months} & 0.9935 \\
11 \text{ months} & 0.9820 \\
15 \text{ months} & 0.9775 \\
\end{array}
$$

The overnight rate is 1%.

(i) What is the linear system that has to be solved for the cubic spline interpolation of the zero rate curve?

*Solution*

Find out the zero rates by discount factors

$$
\text{Disc}(t)=\exp(-t\cdot r(0,t))
$$

Therefore

$$
r(0,t)=-\frac{1}{t}\ln(\text{Disc}(t))
$$

In [34]:
disc = np.array([0.998,0.9935,0.982,0.9775])
t = np.array([2/12,5/12,11/12,15/12])
r = -1/t * np.log(disc)
r

array([0.012012, 0.015651, 0.019815, 0.018206])

Together with the overnight rate of 0.01, i.e. $r(0,0)=0.01$, we have
$$
v=[0.01,0.012012 , 0.015651, 0.019815, 0.018206]
$$

In [37]:
x = np.array([0, 2/12, 5/12, 11/12, 15/12])
v = np.array([0.01, 0.012012, 0.015651, 0.019815, 0.018206])

<a href="https://sm.ms/image/3terkzsRhnUHCPT" target="_blank"><img src="https://s2.loli.net/2025/03/10/3terkzsRhnUHCPT.jpg" width=800 /></a>

In [39]:
def cubic_spline_interpolate(x, v): #@save
    """
    input:
    - x: interpolation nodes, i=0:n
    - v: interpolation values, i=0:n
    output:
    - b_bar, M_bar: linear system
    - coef: list([[a1,b1,c1,d1],[a2,b2,...],...])
    """
    n = len(x) - 1
    coef = []
    # compute vector b_bar
    b_bar = np.zeros(4*n)
    b_bar[0], b_bar[4*n-1] = 0, 0
    for i in range(1, n+1):
        b_bar[4*i-3] = v[i-1]
        b_bar[4*i-2] = v[i]
    for i in range(1, n):
        b_bar[4*i-1] = 0
        b_bar[4*i] = 0
    # compute matrix M_bar
    M_bar = np.zeros((4*n, 4*n))
    M_bar[0,2], M_bar[0,3] = 2, 6*x[0]
    M_bar[4*n-1,4*n-2], M_bar[4*n-1,4*n-1] = 2, 6*x[-1]
    for i in range(1, n+1):
        # f(x)
        M_bar[4*i-3,4*i-4] = 1
        M_bar[4*i-3,4*i-3] = x[i-1]
        M_bar[4*i-3,4*i-2] = x[i-1] ** 2
        M_bar[4*i-3,4*i-1] = x[i-1] ** 3
        M_bar[4*i-2,4*i-4] = 1
        M_bar[4*i-2,4*i-3] = x[i]
        M_bar[4*i-2,4*i-2] = x[i] ** 2
        M_bar[4*i-2,4*i-1] = x[i] ** 3
    for i in range(1, n):
        # f'(x)
        M_bar[4*i-1,4*i-3] = 1
        M_bar[4*i-1,4*i-2] = 2 * x[i]
        M_bar[4*i-1,4*i-1] = 3 * (x[i] ** 2)
        M_bar[4*i-1,4*i+1] = -1
        M_bar[4*i-1,4*i+2] = -2 * x[i]
        M_bar[4*i-1,4*i+3] = -3 * (x[i] ** 2)
        # f''(x)
        M_bar[4*i,4*i-2] = 2
        M_bar[4*i,4*i-1] = 6 * x[i]
        M_bar[4*i,4*i+2] = -2
        M_bar[4*i,4*i+3] = -6 * x[i]
    x_bar = linear_solve_lu_row_pivoting(M_bar, b_bar)
    for i in range(1,n+1):
        coef.append(x_bar[4*i-4:4*i])
    return b_bar, M_bar, coef

In [41]:
b_bar, M_bar, coef = cubic_spline_interpolate(x, v)

In [43]:
pd.DataFrame(M_bar)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,0.000000,2.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
1,1.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
2,1.0,0.166667,0.027778,0.004630,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3,0.0,1.000000,0.333333,0.083333,0.0,-1.000000,-0.333333,-0.083333,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
4,0.0,0.000000,2.000000,1.000000,0.0,0.000000,-2.000000,-1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
5,0.0,0.000000,0.000000,0.000000,1.0,0.166667,0.027778,0.004630,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
6,0.0,0.000000,0.000000,0.000000,1.0,0.416667,0.173611,0.072338,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
7,0.0,0.000000,0.000000,0.000000,0.0,1.000000,0.833333,0.520833,0.0,-1.000000,-0.833333,-0.520833,0.0,0.000000,0.000000,0.000000
8,0.0,0.000000,0.000000,0.000000,0.0,0.000000,2.000000,2.500000,0.0,0.000000,-2.000000,-2.500000,0.0,0.000000,0.000000,0.000000
9,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.0,0.416667,0.173611,0.072338,0.0,0.000000,0.000000,0.000000
10,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.0,0.916667,0.840278,0.770255,0.0,0.000000,0.000000,0.000000
11,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,1.000000,1.833333,2.520833,0.0,-1.000000,-1.833333,-2.520833
12,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,2.000000,5.500000,0.0,0.000000,-2.000000,-5.500000
13,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.0,0.916667,0.840278,0.770255
14,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.0,1.250000,1.562500,1.953125
15,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,2.000000,7.500000

In [45]:
pd.DataFrame(b_bar)

           0
0   0.000000
1   0.010000
2   0.012012
3   0.000000
4   0.000000
5   0.012012
6   0.015651
7   0.000000
8   0.000000
9   0.015651
10  0.019815
11  0.000000
12  0.000000
13  0.019815
14  0.018206
15  0.000000

$\overline{M}=$

$$
\begin{pmatrix}
0 & 0 & 2 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
1 & 0.166667 & 0.027778 & 0.00463 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
0 & 1 & 0.333333 & 0.083333 & 0 & -1 & -0.333333 & -0.083333 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
0 & 0 & 2 & 1 & 0 & 0 & -2 & -1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
0 & 0 & 0 & 0 & 1 & 0.166667 & 0.027778 & 0.00463 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
0 & 0 & 0 & 0 & 1 & 0.416667 & 0.173611 & 0.072338 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
0 & 0 & 0 & 0 & 0 & 1 & 0.833333 & 0.520833 & 0 & -1 & -0.833333 & -0.520833 & 0 & 0 & 0 & 0 \\
0 & 0 & 0 & 0 & 0 & 0 & 2 & 2.5 & 0 & 0 & -2 & -2.5 & 0 & 0 & 0 & 0 \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 1 & 0.416667 & 0.173611 & 0.072338 & 0 & 0 & 0 & 0 \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 1 & 0.916667 & 0.840278 & 0.770255 & 0 & 0 & 0 & 0 \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 1 & 1.833333 & 2.520833 & 0 & -1 & -1.833333 & -2.520833 \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 2 & 5.5 & 0 & 0 & -2 & -5.5 \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 1 & 0.916667 & 0.840278 & 0.770255 \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 1 & 1.25 & 1.5625 & 1.953125 \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 2 & 7.5 \\
\end{pmatrix}
$$

$$
\overline{b}=\begin{pmatrix}
0 \\
0.01 \\
0.012012 \\
0 \\
0 \\
0.012012 \\
0.015651 \\
0 \\
0 \\
0.015651 \\
0.019815 \\
0 \\
0 \\
0.019815 \\
0.018206 \\
0 \\
\end{pmatrix}, \quad
\overline{x}=\begin{pmatrix}
a_1\\
b_1\\
c_1\\
d_1\\
a_2\\
b_2\\
c_2\\
d_2\\
a_3\\
b_3\\
c_3\\
d_3\\
a_4\\
b_4\\
c_4\\
d_4
\end{pmatrix}
$$

The linear system to solve is
$$
\overline{M}\overline{x}=\overline{b}
$$

(ii) Use cubic spline interpolation to find a zero rate curve for all times less than 15 months matching the discount factors above.

*Solution*

In [47]:
coef

[[0.01, 0.011456, 0.0, 0.022173],
 [0.010215, 0.007585, 0.023228, -0.024283],
 [0.009153, 0.015227, 0.004886, -0.00961],
 [-0.01484, 0.09375, -0.080775, 0.02154]]

$$
r(0,t)=\begin{cases}
0.01+ 0.011456 t+ 0.022173t^3 & \text{if }0\leq t\leq \frac{2}{12}\\
0.010215+ 0.007585t+ 0.023228t^2+ -0.024283t^3 &\text{if }\frac{2}{12}\leq t\leq \frac{5}{12}\\
0.009153+ 0.015227t+ 0.004886t^2+ -0.00961t^3 &\text{if }\frac{5}{12}\leq t\leq \frac{11}{12}\\
-0.01484+ 0.09375t+ -0.080775t^2+ 0.02154t^3 &\text{if }\frac{11}{12}\leq t\leq \frac{15}{12}
\end{cases}
$$

(iii) Find the value of a 13 months quarterly bond with $2.5 \%$ coupon rate.

Note: A quarterly coupon bond with face value $\$ 100$, coupon rate $C$, and maturity $T$ pays the holder of the bond a coupon payment equal to $\frac{C}{4} \cdot 100$ every three months, except at maturity. The final payment at maturity $T$ is equal to the face value of the bond plus one coupon payment, i.e., $100+\frac{C}{4} 100$.

*Solution*

<a href="https://sm.ms/image/rGl9QbE78DVFYcB" target="_blank"><img src="https://s2.loli.net/2025/03/10/rGl9QbE78DVFYcB.jpg" width=800></a>

In [49]:
def zero_rate_curve(t, coef, x):
    """
    input:
    - t(float): time
    - coef(list): the result of cubic_spline_interpolate
    - x(list): given time nodes
    Note: len(x) should be 1 larger than len(coef)
    output:
    - corresponding zero rate at time t
    """
    assert len(coef) == len(x) - 1, "size not match"
    def _zero_rate(i, t, coef):
        i_coef = np.array(coef[i])
        tt = [1,t,t**2,t**3]
        return np.sum(i_coef*tt)
    for i in range(len(coef)):
        if x[i] <= t <= x[i+1]:
            return _zero_rate(i, t, coef)

In [51]:
coupon = [0.625,0.625,0.625,0.625,100.625]
dates = [1/12, 4/12, 7/12, 10/12, 13/12]
B = 0
for i in range(len(coupon)):
    t = dates[i]
    disc_t = np.exp(-t*zero_rate_curve(t, coef, x))
    B += coupon[i] * disc_t
B.round(6)

101.021659

$\therefore$ the value of a 13 months quarterly bond with $2.5 \%$ coupon rate is $101.021659$

## Question 3
The values of the following coupon bonds with face value $\$ 100$ are given:

$$
\begin{array}{lcl}
\text{Bond Type} & \text{Coupon Rate} & \text{Bond Price} \\
\text{10 months semiannual} & \text{3\%} & \$ 101.30 \\
\text{16 months semiannual} & \text{4\%} & \$ 102.95 \\
\text{22 months annual} & \text{6\%} & \$ 107.35 \\
\text{22 months semiannual} & \text{5\%} & \$ 105.45 \\
\end{array}
$$

(i) List the cash flows and cash flow dates for each bond.

<a href="https://sm.ms/image/RFyZ25NJ4EphP1U" target="_blank"><img src="https://s2.loli.net/2025/03/10/RFyZ25NJ4EphP1U.jpg" width=800></a>

(ii) Identify the matrix and the right hand side vector corresponding to the linear system whose solution are the 4 months, 10 months, 16 months, and 22 months discount factors.

<a href="https://sm.ms/image/uCIEqWbLr1dtnfV" target="_blank"><img src="https://s2.loli.net/2025/03/10/uCIEqWbLr1dtnfV.jpg" width=800></a>

(iii) Find the 4 months, 10 months, 16 months, and 22 months discount factors.

In [53]:
M = np.array([
    [1.5,101.5,0,0],
    [2,2,102,0],
    [0,6,0,106],
    [2.5,2.5,2.5,102.5]
])
b = np.array([101.3,102.95,107.35,105.45])
x = linear_solve_lu_row_pivoting(M, b)
x

[0.98604, 0.983458, 0.970696, 0.957068]

$$\therefore \quad
\begin{pmatrix}
d_1\\d_2\\d_3\\d_4
\end{pmatrix}=
\begin{pmatrix}
0.98604\\ 0.983458\\ 0.970696\\ 0.957068
\end{pmatrix}
$$

## Question 4
Consider three assets with the following expected rates of return, standard deviations of their rates of return, and correlations of their rates of return:

$$
\begin{aligned}
& \mu_{1}=0.1 ; \quad \sigma_{1}=0.15 ; \quad \rho_{1,2}=-0.25 \\
& \mu_{2}=0.15 ; \quad \sigma_{2}=0.3 ; \quad \rho_{2,3}=0.2 ; \\
& \mu_{3}=0.2 ; \quad \sigma_{3}=0.35 ; \quad \rho_{1,3}=0.3
\end{aligned}
$$

(i) Find the covariance matrix $M$ of the rates of return of the three assets.

<a href="https://sm.ms/image/haFIueRG3lLH2Tg" target="_blank"><img src="https://s2.loli.net/2025/03/10/haFIueRG3lLH2Tg.jpg" width=800></a>

(ii) A minimum variance portfolio with 16% expected rate of return can be set up by investing a percentage $w_{i}$ of the total value of the portfolio in asset $i$, with $i=1: 3$, where $w_{i}$ can be found by solving the following linear system:

$$
\left(\begin{array}{ccc}
2 M & \mathbf{1} & \mu  \tag{1}\\
\mathbf{1}^{t} & 0 & 0 \\
\mu^{t} & 0 & 0
\end{array}\right)
\left(\begin{array}{c}
w \\
\lambda_{1} \\
\lambda_{2}
\end{array}\right)=\left(\begin{array}{c}
0 \\
1 \\
\mu_{P}
\end{array}\right)
$$

where $\mu_{P}=0.16$,

$$
\mu=\left(\begin{array}{c}
0.1 \\
0.15 \\
0.2
\end{array}\right) \quad \text { and } \quad \mathbf{1}=\left(\begin{array}{l}
1 \\
1 \\
1
\end{array}\right)
$$

The matrices from the $\mathrm{LU}$ decomposition with row pivoting of the matrix on the left hand side of (1) are

$$
\begin{aligned}
P & =\left(\begin{array}{lllll}
0 & 0 & 0 & 1 & 0 \\
0 & 1 & 0 & 0 & 0 \\
0 & 0 & 1 & 0 & 0 \\
1 & 0 & 0 & 0 & 0 \\
0 & 0 & 0 & 0 & 1
\end{array}\right) ; \\
L & =\left(\begin{array}{ccccc}
1 & 0 & 0 & 0 & 0 \\
-0.0225 & 1 & 0 & 0 & 0 \\
0.0315 & 0.051852 & 1 & 0 & 0 \\
0.045 & -0.333333 & 0.038067 & 1 & 0 \\
0.1 & 0.246914 & 0.400056 & -0.482738 & 1
\end{array}\right) ; \\
U & =\left(\begin{array}{ccccc}
1 & 1 & 1 & 0 & 0 \\
0 & 0.2025 & 0.0645 & 1 & 0.15 \\
0 & 0 & 0.210555 & 0.948148 & 0.192222 \\
0 & 0 & 0 & 1.297240 & 0.142683 \\
0 & 0 & 0 & 0 & -0.045059
\end{array}\right)
\end{aligned}
$$

Find the weights of each asset in this minimum variance portfolio.

*Solution:*

$$
2M=\begin{pmatrix}
0.045 & -0.0225 &  0.0315\\
-0.0225 &  0.18  &  0.042\\
0.0315 &  0.042 &  0.245
\end{pmatrix}
$$

The matrix on the left hand side of (1) is

$$
\begin{pmatrix}
0.045 & -0.0225 &  0.0315 & 1 & 0.1\\
-0.0225 &  0.18  &  0.042 & 1 & 0.15\\
0.0315 &  0.042 &  0.245 & 1 & 0.2\\
1&1&1&0&0\\
0.1&0.15&0.2&0&0
\end{pmatrix}
$$

Now solve the linear system using `linear_solve_lu_row_pivoting`

In [55]:
A = np.array([
    [0.045 , -0.0225 ,  0.0315 , 1 ,0.1],
    [-0.0225 ,  0.18  ,  0.042 , 1 , 0.15],
    [0.0315 ,  0.042 , 0.245 , 1 , 0.2],
    [1,1,1,0,0],
    [0.1,0.15,0.2,0,0]
])
b = np.array([0,0,0,1,0.16])
x = linear_solve_lu_row_pivoting(A, b)
x

[0.235075, 0.329849, 0.435076, 0.09413, -1.109912]

$$
\therefore\quad \omega_1=0.235075, \omega_2=0.329849, \omega_3=0.435076
$$

(iii) Compute the standard deviation of the returns of the following portfolios with 16% expected rate of return:

1. 30% invested in asset 1, 20% invested in asset 2, 50% invested in asset 3

2. 50% invested in asset 1, 70% invested in asset 3, and short an amount equal to 20% of the value of the portfolio of asset 2

*Solution:*

Denote the returns of asset 1, 2 and 3 as $r_1,r_2,r_3$, respectively

The return of the portfolio can be written as

$$
r_p=\omega_1 r_1+\omega_2 r_2+\omega_3 r_3
$$

The variance of portfolio's return is 

$$
Var(r_p)=\mathbf{\omega}^T M \mathbf{\omega}
$$

In [57]:
def pf_std(w, Sigma):
    """
    Calculate the standard deviation of portfolio return
    input:
    - w(np.array): weight vector
    - Sigma(np.array): covariance matrix
    """
    var = w.T @ Sigma @ w
    return np.sqrt(var).round(6)

In [59]:
M = np.array([
    [0.0225, -0.01125, 0.01575],
    [-0.01125, 0.09, 0.021],
    [0.01575, 0.021, 0.1225]
])
w_1 = np.array([0.3,0.2,0.5])
w_2 = np.array([0.5,-0.2,0.7])

In [61]:
pf_std(w_1, M)

0.209344

In [63]:
pf_std(w_2, M)

0.276848

1. $\sigma_{p_1}=0.209344$
2. $\sigma_{p_2}=0.276848$

## Eigenvalues and eigenvectors

## Question 1
Let $A$ and $B$ be square matrices of the same size. Show that if $v$ is an eigenvector of both $A$ and $B$, then $v$ is also an eigenvector of the matrix

$$
M=c_{1} A+c_{2} B
$$

where $c_{1}$ and $c_{2}$ are constants. What is the eigenvalue of $M$ corresponding to the eigenvector $v$ ?

<a href="https://sm.ms/image/SuAsfFrgQLnNCGp" target="_blank"><img src="https://s2.loli.net/2025/03/10/SuAsfFrgQLnNCGp.jpg" width=800></a>

## Question 2
Let $A$ be a square matrix such that $A^{2}=A$. Show that any eigenvalue of $A$ is either 0 or 1.

Note: A matrix $A$ with the property that $A^{2}=A$ is called an idempotent matrix.

<a href="https://sm.ms/image/6IkKL8Sh3jPFefO" target="_blank"><img src="https://s2.loli.net/2025/03/10/6IkKL8Sh3jPFefO.jpg" width=800></a>

## Question 3
Let $A$ be a square matrix with the property that there exists a positive integer $n$ such that $A^{n}=0$. Show that any eigenvalue of $A$ must be equal to 0 .

Note: A matrix $A$ with the property that $A^{n}=0$ for a positive integer $n$ is called a nilpotent matrix.

<a href="https://sm.ms/image/kWGtpfPzLEXmnYI" target="_blank"><img src="https://s2.loli.net/2025/03/10/kWGtpfPzLEXmnYI.jpg" width=800></a>

## Question 4

Let $v$ be a column vector of size $n$, and let $A=v v^{t}$ be an $n \times n$ matrix.

(i) How many non-zero eigenvalues does the matrix $A$ have?

(ii) What are the eigenvalues of $A$, and what are the corresponding eigenvectors?

<a href="https://sm.ms/image/ziVR385k4Xlm6nv" target="_blank"><img src="https://s2.loli.net/2025/03/10/ziVR385k4Xlm6nv.jpg" width=800></a>

## Question 5

Find the eigenvalues and the eigenvectors of the $n \times n$ matrix

$$
A=\left(\begin{array}{cccc}
d & 1 & \ldots & 1 \\
1 & d & \ldots & 1 \\
\vdots & \vdots & \ddots & \vdots \\
1 & 1 & \ldots & d
\end{array}\right)
$$

where $d \in \mathbb{R}$ is a constant.

<a href="https://sm.ms/image/wX8WYcv7Z4dJ6nI" target="_blank"><img src="https://s2.loli.net/2025/03/10/wX8WYcv7Z4dJ6nI.jpg" width=800></a>

## Question 6

Let $\lambda$ and $v$ be an eigenvalue and the corresponding eigenvector of the square matrix $A$ of size $n$. Let $S$ be a nonsingular matrix of size $n$. Show that $\lambda$ is also an eigenvalue of the matrix $S^{-1} A S$. What is the corresponding eigenvector?

<a href="https://sm.ms/image/X9jko8nayIvDOBL" target="_blank"><img src="https://s2.loli.net/2025/03/10/X9jko8nayIvDOBL.jpg" width=800></a>

## Question 7
Let $A$ be a square matrix with real entries. If $\lambda=a+i b$ is a complex eigenvalue of $A$ (i.e., with $b \neq 0$ ), show that $\bar{\lambda}=a-i b$, the complex conjugate of $\lambda$, is also an eigenvalue of $A$.

<a href="https://sm.ms/image/xh21CbrPumEdN8k" target="_blank"><img src="https://s2.loli.net/2025/03/10/xh21CbrPumEdN8k.jpg" width=800></a>

## Question 8
Let $A=\left(\begin{array}{cc}-1 & 2 \\ 2 & 2\end{array}\right)$.

(i) Compute the eigenvalues and the eigenvectors of the matrix $A$.

(ii) What is the diagonal form of $A$ ?

(iii) Compute $A^{12}$.

<a href="https://sm.ms/image/OkVoScJXxAw8GER" target="_blank"><img src="https://s2.loli.net/2025/03/10/OkVoScJXxAw8GER.jpg" width=800></a>

## Question 9

Let $A=\left(\begin{array}{ll}a & b \\ c & d\end{array}\right)$ be a $2 \times 2$ matrix, and let

$$
P_{A}(t)=t^{2}-(a+d) t+(a d-b c)
$$

be the characteristic polynomial associated to $A$.

Show that $P_A(A) = 0$, i.e., show that

$$ A^2 - (a+d)A + (ad-bc)I = 0$$

Note: This is the $2 \times 2$ case of the Cayley-Hamilton theorem which states that $P_A(A) = 0$ for any square matrix $A$.

<a href="https://sm.ms/image/6mFSLfR9hCj3VTd" target="_blank"><img src="https://s2.loli.net/2025/03/10/6mFSLfR9hCj3VTd.jpg" width=800></a>

## Question 10
Let $A$ be an $n \times n$ matrix given by

$$
\begin{aligned}
A(i, i) & =2, \forall i=1: n \\
A(i, i-1) & =1, \forall i=2: n \\
A(j, k) & =0, \text { otherwise. }
\end{aligned}
$$

Find the eigenvalues and the eigenvectors of $A$.

<a href="https://sm.ms/image/qPvTHYEfeGLAZlU" target="_blank"><img src="https://s2.loli.net/2025/03/10/qPvTHYEfeGLAZlU.jpg" width=800></a>

## Question 11

(i) Show that the eigenvalues of the matrix

$$
A=\left(\begin{array}{cccc}
-16 & 6 & -6 & 0 \\
-30 & 11 & -12 & 0 \\
15 & -6 & 5 & 0 \\
0 & 0 & 0 & -1
\end{array}\right)
$$

are -1 , with multiplicity 3 , and 2 , with multiplicity 1 .

Show that $\left(\begin{array}{c}0 \\ 1 \\ 1 \\ -2\end{array}\right),\left(\begin{array}{c}2 \\ 2 \\ -3 \\ 3\end{array}\right),\left(\begin{array}{l}0 \\ 0 \\ 0 \\ 1\end{array}\right)$ are three linearly independent eigenvectors corresponding to the eigenvalue -1 , and show that there exists only one linearly independent eigenvector of the matrix $A$ corresponding to the eigenvalue 2 , e.g., $\left(\begin{array}{c}1 \\ 2 \\ -1 \\ 0\end{array}\right)$.

<a href="https://sm.ms/image/ZPKfi6RS7UBkLIc" target="_blank"><img src="https://s2.loli.net/2025/03/10/ZPKfi6RS7UBkLIc.jpg" width=800></a>

(ii) Show that the eigenvalues of the matrix

$$
B=\left(\begin{array}{cccc}
10 & -20 & -32 & -26 \\
18 & -41 & -68 & -54 \\
-14 & 19 & 26 & 23 \\
7 & 1 & 9 & 4
\end{array}\right)
$$

are -1 , with multiplicity 3 , and 2 , with multiplicity 1 .

Show that there exists only one linearly independent eigenvector of the matrix $B$ corresponding to the eigenvalue -1 , e.g., $\left(\begin{array}{c}0 \\ -1 \\ -1 \\ 2\end{array}\right)$, and show that $\left(\begin{array}{c}1 \\ 2 \\ -1 \\ 0\end{array}\right)$ is an eigenvector corresponding to the eigenvalue 2 .

<a href="https://sm.ms/image/3XxBOkUtzRfQjFl" target="_blank"><img src="https://s2.loli.net/2025/03/10/3XxBOkUtzRfQjFl.jpg" width=800></a>